/* Catatan Belajar Hallomell Studio */
body{
    background-color: lightcoral;
}
#text1{
    font-size: 20px;
    color:maroon;
}
.text2{
    background-color: red;
    color: white;
    font-size: 50px;
}